<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		 http://code.alibabatech.com/schema/dubbo
		 http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="group-consumer-app"/>

    <!-- 使用 zookeeper 进行注册中心化 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>


    <!-- 生成远程服务代理，可以和本地 bean 一样使用 serviceApi -->
    <dubbo:reference id="consumerService"
                     group="a,b"
                     merger="true"
                     interface="com.cheng.dubbo.ServiceAPI"/>
    <!-- url="dubbo://127.0.0.1:20880" -->
    <!-- 轮询配置 loadbalance="roundrobin" -->
</beans>
